<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Log</title>
</head>
<body>
    <h1>New Logs Anyone?:</h1>
    <form action="/logs" method="POST">
        <h2>Enter Log Title: </h2>
        <input type="text" name="title" placeholder="Title">
        <h2>Enter Log Entry: </h2>
        <textarea name="entry" cols="30" rows="10" placeholder="Entry"></textarea>
        <h2>Is Ship Broken: <input type="checkbox" name="shipIsBroken"></h2>
        <input type="submit" value="Created Log">
    </form>
</body>
</html>