<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Entry</title>
</head>
<body>
    <h1>Full Log Entry</h1>
    <p><%=logs.title%></p>
    <p><%=logs.entry%></p>
    <p><%=logs.shipIsBroken%></p>
    <p><%=logs.createdAt%></p>
    <a href="/logs">Wrong Log? Need To See A different</a>
</body>
</html>